# Coursera Keras Deep Learning Project

In [1]:
import keras
from keras.models import Sequential
from keras.layers import Dense
#from keras.utils import to_categorical

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import statistics as st

## A. Build a baseline model

In [2]:
from keras.datasets import mnist

# read the data
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
#separate concrete data into predictors (X) and target(y) data
X = concrete_data[concrete_data.columns[[concrete_data.columns != "Strength"]]]
X.head()

/opt/conda/envs/Python-3.9/lib/python3.9/site-packages/pandas/core/indexes/base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
y = concrete_data["Strength"]
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [22]:
# split training and testing data; make it a function so it is callable multiple times later
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 4)

# find number of columns for input shape in model
n_col = len(X.columns)

In [38]:
# define the regression model
def regression_model(num_hidden_layer):
    model = Sequential()
    # take the number of hidden layers as input for part D
    for n in range(num_hidden_layer):
        model.add(Dense(10, activation='relu', input_shape=(n_col,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [39]:
# build and fit the model
model = regression_model(1)
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 195648.5156 - val_loss: 104604.8047 - 484ms/epoch - 21ms/step
Epoch 2/50
23/23 - 0s - loss: 58213.2383 - val_loss: 26051.8066 - 114ms/epoch - 5ms/step
Epoch 3/50
23/23 - 0s - loss: 15028.5010 - val_loss: 8764.0547 - 117ms/epoch - 5ms/step
Epoch 4/50
23/23 - 0s - loss: 7878.8965 - val_loss: 6857.0088 - 117ms/epoch - 5ms/step
Epoch 5/50
23/23 - 0s - loss: 7315.2227 - val_loss: 6523.3008 - 117ms/epoch - 5ms/step
Epoch 6/50
23/23 - 0s - loss: 7023.7803 - val_loss: 6263.3281 - 120ms/epoch - 5ms/step
Epoch 7/50
23/23 - 0s - loss: 6742.0479 - val_loss: 6008.0171 - 134ms/epoch - 6ms/step
Epoch 8/50
23/23 - 0s - loss: 6486.5181 - val_loss: 5791.9180 - 118ms/epoch - 5ms/step
Epoch 9/50
23/23 - 0s - loss: 6245.6963 - val_loss: 5562.7163 - 117ms/epoch - 5ms/step
Epoch 10/50
23/23 - 0s - loss: 6031.1416 - val_loss: 5329.5981 - 114ms/epoch - 5ms/step
Epoch 11/50
23/23 - 0s - loss: 5814.1562 - val_loss: 5159.3657 - 121ms/epoch - 5ms/step
Epoch 12/50
23/23 - 0s - loss: 5631.9980 - val_loss: 4972.9019 - 118ms/epoch - 5ms/step
Epoch 13/50
23/23 - 0s - loss: 5460.8540 - val_loss: 4803.3901 - 116ms/epoch - 5ms/step
Epoch 14/50
23/23 - 0s - loss: 5291.6479 - val_loss: 4659.3618 - 116ms/epoch - 5ms/step
Epoch 15/50
23/23 - 0s - loss: 5135.2158 - val_loss: 4512.0918 - 137ms/epoch - 6ms/step
Epoch 16/50
23/23 - 0s - loss: 4990.0952 - val_loss: 4373.2188 - 138ms/epoch - 6ms/step
Epoch 17/50
23/23 - 0s - loss: 4852.4722 - val_loss: 4220.2739 - 117ms/epoch - 5ms/step
Epoch 18/50
23/23 - 0s - loss: 4708.1401 - val_loss: 4119.9287 - 117ms/epoch - 5ms/step
Epoch 19/50
23/23 - 0s - loss: 4568.3271 - val_loss: 3977.5142 - 156ms/epoch - 7ms/step
Epoch 20/50
23/23 - 0s - loss: 4440.1108 - val_loss: 3859.2285 - 95ms/epoch - 4ms/step
Epoch 21/50
23/23 - 0s - loss: 4320.0474 - val_loss: 3754.9255 - 99ms/epoch - 4ms/step
Epoch 22/50
23/23 - 0s - loss: 4197.5654 - val_loss: 3663.4487 - 118ms/epoch - 5ms/step
Epoch 23/50
23/23 - 0s - loss: 4084.7366 - val_loss: 3541.8843 - 135ms/epoch - 6ms/step
Epoch 24/50
23/23 - 0s - loss: 3968.9644 - val_loss: 3454.9729 - 138ms/epoch - 6ms/step
Epoch 25/50
23/23 - 0s - loss: 3860.9631 - val_loss: 3350.5483 - 116ms/epoch - 5ms/step
Epoch 26/50
23/23 - 0s - loss: 3752.4250 - val_loss: 3239.8662 - 137ms/epoch - 6ms/step
Epoch 27/50
23/23 - 0s - loss: 3649.3467 - val_loss: 3169.0757 - 138ms/epoch - 6ms/step
Epoch 28/50
23/23 - 0s - loss: 3548.6938 - val_loss: 3073.4102 - 116ms/epoch - 5ms/step
Epoch 29/50
23/23 - 0s - loss: 3452.8826 - val_loss: 2977.3462 - 133ms/epoch - 6ms/step
Epoch 30/50
23/23 - 0s - loss: 3357.4126 - val_loss: 2907.1736 - 118ms/epoch - 5ms/step
Epoch 31/50
23/23 - 0s - loss: 3260.9077 - val_loss: 2819.9277 - 118ms/epoch - 5ms/step
Epoch 32/50
23/23 - 0s - loss: 3172.5686 - val_loss: 2734.5332 - 141ms/epoch - 6ms/step
Epoch 33/50
23/23 - 0s - loss: 3083.8962 - val_loss: 2666.2920 - 118ms/epoch - 5ms/step
Epoch 34/50
23/23 - 0s - loss: 3004.5710 - val_loss: 2590.7810 - 135ms/epoch - 6ms/step
Epoch 35/50
23/23 - 0s - loss: 2914.3752 - val_loss: 2510.7729 - 137ms/epoch - 6ms/step
Epoch 36/50
23/23 - 0s - loss: 2837.4651 - val_loss: 2446.3232 - 135ms/epoch - 6ms/step
Epoch 37/50
23/23 - 0s - loss: 2757.6272 - val_loss: 2372.4163 - 118ms/epoch - 5ms/step
Epoch 38/50
23/23 - 0s - loss: 2678.8813 - val_loss: 2308.2102 - 135ms/epoch - 6ms/step
Epoch 39/50
23/23 - 0s - loss: 2603.0793 - val_loss: 2244.5706 - 118ms/epoch - 5ms/step
Epoch 40/50
23/23 - 0s - loss: 2524.1792 - val_loss: 2167.8379 - 124ms/epoch - 5ms/step
Epoch 41/50
23/23 - 0s - loss: 2445.6863 - val_loss: 2124.3909 - 135ms/epoch - 6ms/step
Epoch 42/50
23/23 - 0s - loss: 2374.4883 - val_loss: 2063.2942 - 134ms/epoch - 6ms/step
Epoch 43/50
23/23 - 0s - loss: 2305.6934 - val_loss: 1985.7330 - 117ms/epoch - 5ms/step
Epoch 44/50
23/23 - 0s - loss: 2232.7312 - val_loss: 1937.7595 - 135ms/epoch - 6ms/step
Epoch 45/50
23/23 - 0s - loss: 2171.3164 - val_loss: 1891.9636 - 160ms/epoch - 7ms/step
Epoch 46/50
23/23 - 0s - loss: 2102.3284 - val_loss: 1819.2533 - 115ms/epoch - 5ms/step
Epoch 47/50
23/23 - 0s - loss: 2037.5878 - val_loss: 1758.6970 - 122ms/epoch - 5ms/step
Epoch 48/50
23/23 - 0s - loss: 1975.4398 - val_loss: 1712.2310 - 115ms/epoch - 5ms/step
Epoch 49/50
23/23 - 0s - loss: 1912.6931 - val_loss: 1663.5441 - 116ms/epoch - 5ms/step
Epoch 50/50
23/23 - 0s - loss: 1852.6023 - val_loss: 1619.4928 - 119ms/epoch - 5ms/step

In [27]:
# use the model to predict concrete strength based on data from X_test
prediction = model.predict(X_test)

# evaluate the model using mean squared error
mse = mean_squared_error(y_test, prediction)
mse

157.77574440550706

In [40]:
# define a function to run the model 50 times, find its mean_squared_error, and compute overall mean and standard deviation of them 
def run_model_50(X, y, num_epochs, num_hidden_layer):
    # create a list that will hold all the mse's\
    mses = []
    
    for i in range(50):
        # call train_test_split again so data is slightly different each time
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 4)
        
        # build and fit model (set verbose to 0 so the output is not inundated with each training iteration)
        model = regression_model(num_hidden_layer)
        model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=num_epochs, verbose=0)
        
        # predict concrete strength with model and compute mean squared error
        prediction = model.predict(X_test)
        mse = mean_squared_error(y_test, prediction)
        
        # append the mean squared error to list of mse's
        mses.append(mse)
    
    print("The mean and standard deviation of the MSE's is {} and {} respectively.".format(st.mean(mses), st.stdev(mses)))

In [41]:
run_model_50(X, y, 50, 1)

The mean and standard deviation of the MSE's is 335.7479025194623 and 337.03434631984635 respectively.

## B. Normalize the data

In [33]:
X_norm = (X - X.mean()) / X.std()

In [42]:
run_model_50(X_norm, y, 50, 1)

The mean and standard deviation of the MSE's is 380.48172954338776 and 122.78103913466528 respectively.

## C. Increase the number of epochs

In [43]:
run_model_50(X_norm, y, 100, 1)

The mean and standard deviation of the MSE's is 176.2652822493085 and 13.15365145911159 respectively.

## D. Increase the number of hidden layers

In [44]:
run_model_50(X_norm, y, 100, 3)

The mean and standard deviation of the MSE's is 98.41265028170542 and 26.409898141345604 respectively.